/* Order of importance - anything below the first overrides values of same type */ 
@media (min-width: 320px) {
    body {
    }

    .article-list {
        padding-left: 1em;
        padding-right: 1em;
    }
    .article-list article {
        padding-bottom: 4em;
    }
}
