/* Since specific css is loaded after global.css, this overrides the values found in global */
@media (min-width: 320px) {
    section ul {
        padding-top: 2em;
    }
    section ul li {
        padding: 1em;
    }
    
    select {
        padding: 0.6em;
    }
}
